{% extends "base.html" %}
{% load static %}
{% block content %}

<h1 class="center-align"><a href="{% url 'index' %}">Products </a>| <a href="{% url 'category' %}">Categories</a></h1>


<h1><a href="{% url 'records' %}">Record</a></h1>
<!-- <div class="row">
    {% for category in categories %}
    <div class="card">
        <img class="card-img" src="/media/wes-hicks-MEL-jJnm7RQ-unsplash.jpg" alt="{{ category.name }}">
        <div class="card-img-overlay">
            <h5 class="card-title">{{ category.name }}</h5>
        </div>
    </div>
    {% endfor %}
</div> -->

{% endblock %}