{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block content %}
<!-- Heading  -->
<hr>
<h2>Edit Review</h2>
<hr>
<!-- Edit review form  -->
<form class="review-form" method="POST" action="{% url 'edit_review' review.id %}">
    {% csrf_token %}
    {{ form.title | as_crispy_field }}
    {{ form.description | as_crispy_field }}
    <a class="btn btn-danger rounded-5" href="{% url 'products' %}">Cancel</a>
    <button class="btn btn-success rounded-5" type="submit">Edit review</button>
</form>

{% endblock %}