{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Heading  -->
<hr>
<h1>Past Reviews</h1>
<hr>

<!-- All reviews  -->
{% if reviews %}
    <div class="row">
        {% for review in reviews %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">Created by: {{ review.user }}</p>
                        <p class="card-text">Date by: {{ review.date }}</p>
                    </div>
                    <a href="{% url 'review_detail' review.id %}" class="btn btn-light rounded-5 mt-2 mb-2">
                        More details
                    </a>
                </div>
        {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <p>Sorry, there are no reviews associated with this product yet.</p>
    </div>
</div>
{% endif %}

{% endblock %}