{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Hello</h1>

<form method="POST" action="{% url 'product_review' %}">
  {% csrf_token %}
  {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>


<h2>Past Reviews</h1>
<!-- <div class="row">
{% for product_review in product_reviews %}
<div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ product_review.name }}</h5>
            <p class="card-text">Created by: </p>
            <a href="#" class="btn btn-primary"></a>
        </div>
    </div>
</div>
{% endfor %}
</div> -->
{% endblock %}


