{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<!-- Cover  -->
    <div class="landing-page">
        <div class="cover">
            <h1 class="center-align mt-2 mb-4">MUSIC BOX</h1>
            <p class="center-align lead"><i>Find what you're missing for your musical needs.</i></p>
            <div class="products-link mt-10">
                <a class="btn btn-light mt-2 mb-3 rounded-5" href="{% url 'products' %}">See our products</a>
            </div>
        </div>
    </div>
    <!-- Ethos  -->
    <div class="about">
        <hr>
        <h4>Music Box</h4>
        <hr>
        <div class="row">
            <div class="col-9 offset-2">
                <p>Music box is essentially a mixture of two things. First and foremost, it is a site for musicians from all skill levels
                    that wish to purchase musical equipment to enjoy and further their skill levels. 
                    <br>
                    Secondly, it is an online meeting place 
                    for those with a musical interest to share with others their insights into a particular area of music in which they have interest
                    in. 
                    <br>
                    Finally, music box members can also sell their own equipment they are currently finished with and even their own vinyl records.

                </p>
            </div>
        </div>
    </div>
{% endblock %}