{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
<section class="container-fluid">
    <div class="landing-page">
        <div class="cover">
            <h1 class="center-align">MUSIC BOX</h1>
            <p class="center-align lead"><i>Find what you're missing for your musical needs.</i></p>
            <div class="products-link mt-10">
                <button class="btn btn-info"><a href="{% url 'products' %}">See our products</a></button>
            </div>
        </div>
    </div>
    <div class="about">
        <hr>
        <h4>Music Box</h4>
        <hr>
        <div class="row">
            <div class="col-9 offset-2">
                <p>Music box is essentially a mixture of two things. First and foremost, it is a site for musicians from all skill levels
                    that wish to purchase musical equipment to enjoy and further their skill levels. Secondly, it is an online meeting place 
                    for those with a musical interest to share with others their insights into a particular area of music in which they have interest
                    in. 

                    Furthermore, users can put up for sale their own equipment they are currently finished with and even their own vinyl records.

                </p>
            </div>
        </div>
    </div>
</section>



{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        window.addEventListener('DOMContentLoaded', (event) => {
        console.log('DOM fully loaded and parsed');
        });
        
        function addToBag() {
            btn = document.getElementsByTagName('button');

            btn.addEventListener('click', function(){
                console.log("hi");
            });
        }

    </script>
{% endblock %}

{% endblock %}