/************************************* NAVBAR ***/

.float-right {
    align-items: flex-end;
}

.input-group-append {
    margin-left: -1px;
    min-width: 26%;
    max-width: 30%;
}

/************************************* SITE COVER ***/

.landing-page {
    background-image: url('/media/avi-naim-GNuSRFAN9uY-unsplash.jpg');
    min-height:100vh;
    width:100%;
    background-size:cover;
    position:relative;
    margin:10px;
}

.cover {
    background-color:#96908d;
    color:#fff;
    position:absolute;
    padding:10px;
    width:30%;
    top:30%;
    left:35%;
    text-align: center;
    border-radius:10px;
}

.btn-primary {
    max-width:30%;
}

h1 .cover {
    padding:20px;
}

.cover p {
    font-family: 'Gloria Hallelujah', cursive;
}

.search-bar {
    bottom: 0;
    position: relative;
    margin: 5px auto;
    width: 50%;
}

.products img {
    background-size:cover;
    position:relative;
    width:80%;
    float:right;
    margin:0 auto;
} 

.products-info {
    top:50%;
    background-color: aliceblue;
    width:100%;
    height:100%;
    letter-spacing: 1px;
    padding:10px;
}

.center {
    width:50%;
    margin: 10px auto;
}


@media (max-width:1000px) {
    .cover {
        width:90%;
        left:5%;
        padding:10px;
    }
}