{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% load crispy_forms_filters %}

{% block content %}
<hr>
<h1>Profile</h1>
<hr>

    <h2 class="mt-4 mb-4">Order History info</h2>
    <div class="order-details">
        <div class="row">
            <div class="col-md-3">
                <h3>Date</h3>
            </div>
            <div class="offset-1 col-md-3">
                <h3>Number</h3>
            </div>
            <div class="offset-1 col-md-3">
                <h3>Total</h3>
            </div>
        </div>
    </div>
    <div class="row">
        {% for order in orders %}
        <div class="past-order">
            <div class="row">
                <div class="col-md-3">
                    <p>{{ order.date }}</p>
                </div>
                <div class="offset-1 col-md-3">
                    <p>{{ order.order_number }}</p>
                </div>
                <div class="offset-1 col-md-3">
                    <p class="total">€{{ order.checkout_total }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h2>Your reviews</h2>
    <hr>
    <div class="row">
        {% for review in reviews %}
        <div class="col-12 col-md-6 col-lg-4 mb-8">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-text mb-4"><strong><i>
                        <a href="{% url 'review_detail' review.id %}">
                            {{ review.name }}
                        </a></i></strong>
                    </h4>
                    <p class="card-text mb-4">{{ review.title }}</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text">Posted on: </p>
                        </div>
                        <div class="col-md-6"> 
                            <p class="card-text">{{ review.date }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <h2 class="mt-4 mb-4">Shipping info</h2>
    <hr>
    <div class="form">         
        <form action="{% url 'profile' %}" method="POST" class="mt-5 mb-5">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-info">Update information</button>
        </form>
    </div>
{% endblock %}