{% extends "base.html" %}
{% load static %}

{% load crispy_forms_filters %}

{% block content %}

<h1>Checkout</h1>
<div class="shipping-form">
    <h4>Shipping & Billing Address</h4>
    <form action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        {% for field in order_form %}
        <div class="form-field">
            {{ field | as_crispy_field }}
        </div>
        {% endfor %}
        <button type="submit">Submit Form</button>
    </form>
    <section class="basket">
        {% for basket_item in basket_items %}
        <div class="card">
            <div class="row">
                <div class="col-8">
                    {% if basket_item.product.image_url %}
                        <h2>Image</h2>
                    {% else %}
                        <h2>No image</h2>
                    {% endif %}
                </div>
                <div class="col-4">
                    <p class="lead mt-3">Product: {{ basket_item.product.name }}</p>
                    <p class="lead mt-3">${{ basket_item.product.price }}</p>
                    <p class="lead mt-3">Amount: {{ basket_item.quantity }}</p>
                </div>
            </div>
        </div> 
    {% endfor %}
        <div class="row">
            <div class="col-md-6">
                <h4>You will be charged</h4>
            </div>
            <div class="col-md-6">
                <h4><strong>{{ checkout_total|floatformat:2 }}</strong></h4>
            </div>
        </div>
    </section>
</div>
{% endblock %}