{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% load crispy_forms_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block content %}
<!-- Heading  -->
<hr>
<h1 class="mb-5 mt-4">Checkout</h1>
<hr>
<!-- Billing form  -->
<div class="row">
    <div class="col-12 col-md-6">
        <div class="shipping-form">
            <h2 class="mb-4">Shipping & Billing Address</h2>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                {{ order_form.first_name | as_crispy_field }}
                {{ order_form.surname | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                <div>
                    {% if user.is_authenticated %}
                        <label for="id-save-info">Save this delivery information to my profile</label>
                        <br>
                        <span>
                            <input class="form-check-input" type="checkbox" id="id-save-info" name="save-info" checked>
                        </span>
                    {% else %}
                        <label class="form-check-label" for="id-save-info">
                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                        </label>
                    {% endif %}
                </div>
                <fieldset class="px-3 mt-5">
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <button type="submit" class="btn btn-light rounded-5 mb-5 mt-5" id="submit-button">Submit Form</button>
            </form>
        </div>
    </div>
    <!-- Basket contents  -->
    <div class="col-12 col-md-6">
        <h2 class="mb-4 mt-4">Your Basket</h2>
        <div class="row">
            <div class="table-responsive rounded"> 
                <table class="table table-borderless">
                    <thead class="table-dark">
                        <tr>
                            <td class="col"></td>
                            <td class="col">Info</td>
                            <td class="col">Price</td>
                            <td class="col">Qty</td>
                            <td class="col">Subtotal</td>
                        </tr>
                    </thead>
                    {% for item in basket_items %}
                    <tr>
                        <td class="w-25 item-image">
                            {% if item.product.image_url %}
                                <img src="{{ item.product.image_url }}" alt="basket_item-img">
                            {% else %}
                                <img src="{{ MEDIA_URL }}revolt-xGAG-yRP2PQ-unsplash.jpg" alt="default-item-img">
                            {% endif %}
                        </td>
                        <td class="py-4">
                            <div class="item-description">
                                <p>{{ item.product.name }}</p>
                            </div>
                        </td>
                        <td class="py-4 w-20">
                            <div class="item-description">
                                <p>€ {{ item.product.price }}</p>
                            </div>
                        </td>
                        <td class="py-4 w-20">
                            <div class="item-description">
                                <p>X {{ item.quantity }}</p>
                            </div>
                        </td>
                        <td class="py-4">
                            <div class="item-description">
                                <p class="lead">€ {{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="text-center">
                    {% if checkout_total > free_delivery_threshold %}
                        <p class="lead">Delivery: FREE </p>
                    {% else %}
                        <p class="lead">Delivery : € {{ delivery|floatformat:2 }} </p>
                    {% endif %}
                    <p class="lead">Basket total : € {{ checkout_total|floatformat:2 }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}

