/************************************* CORE ***/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: table;
}

a {
    color:inherit;
}

h1 {
    text-align:center;
}

/************************************* NAVBAR ***/

.float-right {
    align-items: flex-end;
}

/************************************* SITE COVER ***/

.landing-page {
    background-image: url('/media/avi-naim-GNuSRFAN9uY-unsplash.jpg');
    height:500px;
    width:100%;
    background-size:cover;
    position:relative;
}

.cover {
    background-color:#E8E8E8;
    position:absolute;
    width:50%;
    top:50%;
    height:200px;
    left:25%;
    text-align: center;
}

.btn-primary {
    max-width:30%;
}

h1 .cover {
    padding:20px;
}

.search-bar {
    bottom: 0;
    position: relative;
    margin: 5px auto;
    width: 50%;
}


/************************************* PRODUCTS ***/


.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 35%;
    margin: 5px auto;
}

.card {
    margin: 5px;
    text-align:center;
}

.card img {
    margin: 0 auto;
    padding:10px;
    height:400px;
    width:90%;
}

.alert {
    text-align: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin:20px auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width:50%;
}

.card-body {
    text-align: center;
}


/************************************* PRODUCTS DETAILS ***/

.card-details {
    margin: 10px auto;
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    max-width:50%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}  

.card-details img {
    margin:0 auto;
    padding-bottom:20px;
    max-width:50%;
}

/************************************* CATEGORY DETAILS ***/

.card-img-overlay {
    text-align:center;
}

.card-img {
    height:400px;
    width:400px;
    background-size:cover;
}

