/************************************* CORE ***/

@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: table;
    background-color: #f1f2eb;
    font-family: 'Junge', serif;
}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-align:center;
}

.container-body {
    margin: 0 auto;
    width:60%;
}


/************************************* HEADER ***/

.header {
    width:100%;
}


/************************************* TITLE ***/

.table {
    display: table;
    width:100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-cell-right {
    text-align: right;
}



.title .navbar-brand {
   top:20px;

}

.login {
    float:right;
}


/************************************* PRODUCTS ***/


.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 35%;
    margin: 5px auto;
}

.btn-secondary {
    width: 35%;
    margin: 5px auto;
}

.card {
    text-align: center;
    margin: 5px auto;
    padding: 20px;
}

.card img {
    margin: 0 auto;
    padding:10px;
    height:400px;
    width:90%;
}

.alert {
    text-align: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin:20px auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width:50%;
}

.card-body {
    text-align: center;
}

.product-buttons  {
    margin: 0 auto;
    text-align: center;
}

.product-buttons button {
    width:auto;
    margin:10px auto;
}

.product-buttons a {
    width:auto;
    margin:10px auto;
}

.card-details .btn-secondary {
    margin:5px auto;
    width:0%;
}

.w-50 {
    margin:0 auto;
}

.card-details .form-control {
    width:80%;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

.category-list {
    margin:0 auto;
    text-align:center;
}

/************************************* SEARCH BAR ***/

.search-bar {
    width: 50%;
    height:30px;
    margin:10px auto;
}

.search-bar form {
    margin:0 auto;
}


/************************************* FORMS ***/

.shipping-form {
    margin:0 auto;
    text-align:center;
}


/************************************* MESSAGES ***/

.user {
    height:50px;
    width:100%;
    text-align:center;
}

.items {
    width:15%;
    border: 1px solid black;
    border-radius: 5px;
    height:50px;
    margin:5px auto;
    padding:5px;
}

.items i {
    border-color:black;
    font-size:2rem;
    display:inline;
    padding:10px;
    margin-top:10px;
}


/************************************* BASKET ***/

.basket .card {
    width:40%;
}

.total {
    width:40%;
    margin:0 auto;
}


/************************************* PRODUCTS DETAILS ***/

.card-details {
    margin: 10px auto;
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    width:85%;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding:20px;
} 

.card-details hr {
    color:black;
    height:2px;
    
}

.card-details img {
    margin:0 auto;
    padding-bottom:20px;
}

.card-buttons a {
    margin: 3px auto;
}

/************************************* CATEGORY DETAILS ***/

.card-img-overlay {
    text-align:center;
}

.card-img {
    height:400px;
    width:400px;
    background-size:cover;
}


/************************************* MESSAGES ***/

.message-container {
    position: fixed;
    top: 72px;
    left:20px;
    z-index: 99999999999;
}

.toast .span {
    top:15px;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/************************************* FOOTER ***/

footer p a:hover {
    text-decoration: underline;
}

footer {
    border: .5px solid #495057;
}


/************************************* BLOG FORM ***/

.blog-form {
    margin:0 auto;
    text-align:center;
}

.form-field {
    margin:0 auto;
}

.buttons {
    background-color:grey;
    width:20%;
    margin:0 auto;
}

.form-control {
    display: block;
    width: 50%;
    margin: 0 auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success-blog {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin: 5px auto; 
}


@media (max-width:700px) {
    .card-details{
        max-width:90%;
    }

    img {
        width:80%;
    }
}

