/************************************* CORE ***/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gloria+Hallelujah&family=Junge&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    display: table;
    background-color: #f1f2eb;
    font-family: 'Amatic SC', cursive;
    font-size: 1.3rem;
}

body > footer {
    position: sticky;
    top: 100vh;
}

a {
    color:inherit;
    text-decoration: none;
}

a:hover {
    color:inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-align:center;
}

.container-body {
    margin: 0 auto;
    width:60%;
}

/************************************* HEADER ***/

.header {
    width:100%;
}


/************************************* TITLE ***/

.table {
    display: table;
    width:100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.table-cell-right {
    text-align: right;
}



nav {
    position: fixed;
    background-color: #495057;
    color:white;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
}

nav a {
    color:#fff;
}

nav li a {
    text-align: center;
}

path {
    color:white;
}

/************************************* PRODUCTS ***/


.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 35%;
    margin: 5px auto;
}

.card {
    text-align: center;
    margin: 5px auto;
    padding: 20px;
}

.card-image {
    width:100%;
}

.card-img-top {
    margin: 0 auto;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.alert {
    text-align: center;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin:20px auto;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    width:50%;
}

.card-body {
    text-align: center;
}

.product-buttons  {
    margin: 0 auto;
    text-align: center;
}

.product-buttons button {
    width:auto;
    margin:10px auto;
}

.product-buttons a {
    width:auto;
    margin:10px auto;
}

.card-details .btn-secondary {
    margin:5px auto;
    width:0%;
}

.product-info {
    margin: 30px auto;
}

.w-50 {
    margin:0 auto;
}

.card-details .form-control {
    width:80%;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }

.category-list {
    margin:20px auto;
    text-align:center;
}

.category-list a {
    margin:5px;
    color:white;
}


/************************************* REVIEWS ***/

.reviews {
    width:60%;
}


/************************************* SEARCH BAR ***/

.search-bar {
    width: 50%;
    height:30px;
    margin:10px auto;
}

.search-bar form {
    margin:0 auto;
}

.center-search button {
   size:.5rem; 
}

.input-group-btn {
    
}


/************************************* FORMS ***/

.shipping-form {
    margin:0 auto;
    text-align:center;
}

form {
    margin:0 auto;
    text-align: center;
}

.form-row {
    display:block;
}

#signup_form {
    text-align:center;
}

/************************************* MESSAGES ***/

.user {
    height:50px;
    width:100%;
    text-align:center;
    position:fixed;
    z-index:10000000000;
    right:1px;
}

.user .items a {
    font-size:1.5rem;
}

.items {
    width:15%;
    border: 1px solid black;
    border-radius: 5px;
    height:50px;
    margin:5px auto;
    padding:5px;
    right:0px;
}

.items i {
    border-color:black;
    font-size:2rem;
    display:inline;
    padding:10px;
    margin-top:10px;
}


/************************************* BASKET ***/

.basket .card {
    width:40%;
}

.total {
    min-width:40%;
    margin:0 auto;
    max-height: 300px;
    background-color: darkgray;
    border-radius: 5px;
}

.total-info {
    width:90%;
    margin:0 auto;
    max-height: 280px;
    background-color: white;
    border-radius: 5px;
    padding:20px;
    position: relative;
    top:50px;
}


.basket-item {
    width:70%;
    background-color: #fff;
    color:grey;
    margin:0 auto;
    border-radius: 5px;
}

.item-image img {
    height:100px;
    width:100px;
    border-radius: 5px;
    padding:3px;
}

td.item-description {
    margin-left: 5px;
    width: 40%;
    text-align: center;
}

.item-total {
    width:20%;
    text-align: center;
}

.basket-profile a  {
    font-size:3rem;
    color:red;
    padding-right:20px;
    line-height: 10px;
}

.basket-profile p {
    font-size: 1.5rem;
}


/************************************* PRODUCTS DETAILS ***/

.card-details {
    margin: 5px auto;
    text-align: center;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width:90%;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding:5px;
} 

.card-details-box {
    position:relative;
    width:80%;
    height:80%;
    border:1px solid black;
}

.card-details hr {
    color:black;
    height:2px;
    
}

.card-buttons a {
    margin: 3px auto;
}

/************************************* CATEGORY DETAILS ***/

.card-img-overlay {
    text-align:center;
    object-fit: cover;
}


/************************************* MESSAGES ***/

.message-container {
    position: fixed;
    top: 20%;
    left:40%;
    z-index: 99999999999;
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 5s linear forwards;
    opacity: 1;
}

@-webkit-keyframes fadeinout {
    50% {opacity: 1;}
}
  
@keyframes fadeinout {
    50% {opacity: 1;}
}

.toast {
    max-width: 200px;
    height: 150px;
    overflow: hidden;
    font-size: .875rem;
    background-color: rgba(51, 47, 49, 0.83);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    border-radius: 0.25rem;
    background-color:green;
}

.messages-success {
    padding: 10px;
    border: 2px solid grey;
    height: 200px;
    width: 300px;
    background-color: rgba(214, 204, 209, 0.8);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    text-align:center;
}

.messages-warning {
    padding: 10px;
    border: 2px solid grey;
    height: 200px;
    width: 300px;
    background-color: rgba(209, 63, 5, 0.8);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    text-align:center;
}

.messages-info {
    padding: 10px;
    border: 2px solid grey;
    height: 200px;
    width: 300px;
    background-color: rgba(82, 80, 175, 0.8);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    text-align:center;
}

.messages-error {
    padding: 10px;
    border: 2px solid grey;
    height: 200px;
    width: 300px;
    background-color: rgba(236, 0, 0, 0.8);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
    text-align:center;
}

.message-body:hover {
    opacity: 0;
}

.message-body p {
    font-size:3rem;
}

.toast .span {
    top:15px;
}

.toast-capper {
    height: 2px;
}


/************************************* FOOTER ***/

footer p a:hover {
    text-decoration: underline;
}

footer {
    padding:5px;
}

footer path {
    color:#495057;
}

/************************************* CHECKOUT ***/

.checkout-details {
    width:80%;
    background-color: #495057;
    border:1px solid #495057;
    color:white;
    padding:4px;
    border-radius: 5px;
    text-align: center;
    margin:0 auto;
}

.checkout-details p {
    font-size: 0.9rem;
}

select#id_country {
    padding: 2px;
}

/************************************* STRIPE ***/

.StripeElement, .stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    max-width: 50%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

/************************************* BLOG FORM ***/

.blog-form {
    margin:0 auto;
    text-align:center;
}

.blog-entry {
    width:70%;
    margin:0 auto;
    text-align: center;
}

.comment-form {
    margin:0 auto;
    text-align:center;
}

.form-field {
    margin:0 auto;
}

.buttons {
    background-color:grey;
    width:20%;
    margin:0 auto;
}

.form-control {
    display: inline;
    max-width: 50%;
    margin: 0 auto;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success-blog {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin: 5px auto; 
}

.card path {
    color:#495057;
}

@media (max-width:620px) {
    .form-control {
        max-width:100%;
    }
}


@media (max-width:700px) {
    .card-details{
        max-width:90%;
    }

    img {
        width:80%;
    }
}

@media (max-width:770px) {
    .past-order p {
        font-size: 0.5rem;
    }

    .card-details {
        width:50%;
    }

    nav  {
        text-align: center;
    }
}

