{% extends "base.html" %}
{% load static %}

{% load crispy_forms_filters %}

{% block content %}
<div class="blog-form">
    <form method="POST" action="{% url 'add_blog' %}" class="form mb-2" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-field">
            {{ field | as_crispy_field }}
        </div>
        {% endfor %}
            <a class="btn btn-danger rounded-5" href="{% url 'blogs' %}">Cancel</a>
        <button class="btn btn-success rounded-5" type="submit">
            Add Product
        </button>
    </form>
</div>
</div>

{% endblock %}