{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Heading  -->
<hr>
<h1>Blogs</h1>
<hr>
{% if user.is_authenticated %}
    <div class="product-buttons m-20">
        <a href="{% url 'add_blog' %}"  class="btn btn-secondary rounded-5">Add Blog <i class="fas fa-pencil-alt"></i></a>
    </div>
{% else %}
    <p class="text-center"> <a href="{% url 'account_login' %}">Sign in</a> to add to create a blog entry.</p>
{% endif %}

<!-- All blogs  -->
<div class="row">
    {% for blog in blogs %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-book"></i>
                {{ blog.title }}
            </h5>
            <h5 class="card-title">Created by: {{ blog.user }}</h5>
                <a class="btn btn-secondary mt-2 mb-2 rounded-5" href="{% url 'blog_details' blog.slug %}">More info</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}