{% extends "base.html" %}
{% load static %}
{% block content %}
<hr>
<h1>Blogs</h1>
<hr>
<div class="product-buttons m-20">
    <a href="{% url 'add_blog' %}"><button type="button" class="btn btn-secondary">Add Blog <i class="fas fa-pencil-alt"></i></button></a>
</div>

<div class="row">
{% for blog in blogs %}
<div class="col-12 col-md-6 col-lg-4">
    <div class="card mb-4" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-book"></i>
            <a href="{% url 'blog_details' blog.slug %}">
                {{ blog.title }}
            </a> 
        </h5>
        <h5 class="card-title">Created by: {{ blog.user }}</h5>
        {% if user.is_authenticated %}
            <a href="{% url 'update_blog' blog.slug %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger">Delete</a>
        {% else %}
            <a href="#" class="btn btn-primary">Add</a>
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}