{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-6">
        <div class="blog-entry">
            <h1>{{ blog.title }}</h1>
            {% if product.image_url %}
                <img src="{{ product.image_url }}" alt="product-image">
            {% endif %}
            <p>{{ blog.topic }}</p>
            <p>{{ blog.description }}</p>
            <p>Created by: {{ blog.user }}</p>
            <a class="btn btn-warning mt-3" href="{% url 'update_blog' blog.slug %}">
                Edit
            </a>
            <div class="container d-flex justify-content-center mt-2 mb-2"> <button class="btn btn-danger " data-toggle="modal" data-target="#my-modal">Delete</button>
                <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content border-0">
                            <div class="modal-body p-0">
                                <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                    <div class="card-header pb-0 bg-white border-0 ">
                                        <div class="row">
                                            <div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>
                                        </div>
                                        <p class="font-weight-bold mb-2"> Are you sure you want to delete this review?</p>
                                        <p class="text-muted ">This review will be deleted forever if you continue.</p>
                                    </div>
                                    <div class="card-body px-sm-4 mb-2 pt-1 pb-0 text-center">
                                        <div class="row justify-content-end no-gutters">
                                            <div class="col-auto"><button type="button"class="btn btn-light text-muted" data-dismiss="modal">Cancel</button></div>
                                            <a href="{% url 'delete_blog' blog.slug %}" class="btn btn-danger rounded-5">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <h4><i>Thread</i></h4>
    {% for comment in comments %}
        {% if comments %}
        <p>Comment</p>
        {% else %}
            {% if user.is_authenticated %}
                <p class="lead">There are no comments here yet. Please find the form below to respond.</p>
            {% endif %}
        {% endif %}
    {% endfor %}
    </div>
</div>

{% if user.is_authenticated %}
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <hr>
            <h5>Add a comment</h5>
            <hr>
            <form action="." method="POST" class="mt-5 mb-5">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <button class="btn btn-info" type="submit">Submit comment</button>
            </form>
        {% else %}
        <p class="text-center"> <a href="{% url 'account_login' %}">Sign in</a> to leave reply in the thread!</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}