{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>Blogs</h1>
<a href="{% url 'add_blog' %}"><button type="button" class="btn btn-secondary">Add Blog <i class="fas fa-pencil-alt"></i></button></a>

<div class="row">
{% for blog in blogs %}
<div class="col-12 col-md-6 col-lg-4">
    <div class="card" style="width: 18rem;">
        {% if not blog.image %}
            <a href="{% url 'blog_details' blog.id %}">
                <img src="..." class="card-img-top" alt="blog-post">
            </a>
        {% endif %}
        <div class="card-body">
        <h5 class="card-title">{{ blog.name }}</h5>
        <p class="card-text">{{ blog.description }}</p>
        {% if user.is_authenticated %}
            <a href="#" class="btn btn-primary">Delete</a>
        {% else %}
            <a href="#" class="btn btn-primary">Add</a>
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>

{% endblock %}