{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <h2>Shopping bag</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        {% if basket_item_count %}
            {% for basket_item in basket_items %}
            <div class="card" style="width: 18rem;">
                {% if basket_item.image %}
                    <img class="card-img-top" src="{{ basket.item.name }}" alt="Basket item image">
                {% else %}
                    <img class="card-img-top" src="#" alt="Default item image">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ basket_item.name }}</p>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-dark" role="alert">
                <p class="lead">
                    <strong>Your basket is empty. Click <a href="{% url 'products' %}">here</a> to find more products.</strong>
                </p>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}