{% extends "base.html" %}
{% load static %}
{% load basket_tools %}


{% block content %}
<hr>
<h1>Shopping bag</h1>
<hr>
{% if basket_items %}
    <div class="row">
        <table class="table-responsive rounded-5">
            <thead class="table-active">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tr>
                
            </tr>
        </table>
{% else %}
<div class="row">
    <div class="col-12">
        <div class="alert alert-dark" role="alert">
            <p class="lead">
                <strong>Your basket is empty. Click <a href="{% url 'products' %}">here</a> to find more
                    products.</strong>
            </p>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_input_script.html' %}
<script type="text/javascript">
    // Update the item quantity every reload
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove relevant item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('size');
        var url = `/basket/remove/${itemId}`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'size': size
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}