{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <h2>Shopping bag</h2>
    </div>
</div>
{% if checkout_total %}
<div class="shopping-bag">
    <h2 class="display-2">${{ checkout_total }}</h2>
</div>
{% endif %}

{% if checkout_total < settings.FREE_DELIVERY_THRESHOLD %}

<h3 class="display-2">{{ free_delivery_delta }}</h3>

{% endif %}
<section class="basket">
    <div class="row">
        <div class="col">
            {% if basket_items %}
                {% for basket_item in basket_items %}
                <div class="card">
                    <div class="row">
                        <div class="col-8">
                            {% if basket_item.product.image_url %}
                                <h2>Image</h2>
                            {% else %}
                                <h2>No image</h2>
                            {% endif %}
                        </div>
                        <div class="col-4">
                            <p class="lead mt-3">{{ basket_item.product.name }}</p>
                            <p class="lead mt-3">{{ basket_item.product.price }}</p>
                        </div>
                    </div>
                        <a href="{% url 'remove_from_basket' product.id %}"><button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button></a>
                        </a>
                </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-dark" role="alert">
                    <p class="lead">
                        <strong>Your basket is empty. Click <a href="{% url 'products' %}">here</a> to find more products.</strong>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="total">
        <div class="row">
            <div class="col-md-3 .offset-md-3">
                <h4>Bag total: </h4>
            </div>
            <div class="col-6">
                <h4>{{ checkout_total }}</h4>
            </div>
            {% if checkout_total < settings.FREE_DELIVERY_THRESHOLD %}
                <h4>Whats up</h4>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}