<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
    <title>Document</title>
</head>
<header>

</header>
<div class="messages">

</div>
<body>
{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block postloadjs %}
{% endblock %}
</body>
</html>