{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
  integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
{% block page_header %}
{% endblock %}
<hr>
<h1>Products</h1>
<hr>
<div class="search">
  <div class="center-search">
    <form method="GET" action="{% url 'products' %}">
      <div class="input-group w-80">
        <input class="search-bar form-control" type="text" name="q" placeholder="Search for band/artist/song etc.">
        <span class="input-group-btn">
          <button type="submit" class="search-button button btn-info rounded-5"><i class="fas fa-search"></i></button>
        </span>
      </div>
    </form>
  </div>
</div>
<!-- Search bar results -->
{% if search_term %}
  {% if products %}
    <div class="alert alert-light" role="alert">
      <p class="lead"><strong>The following item(s) were found.</strong></p>
    </div>
    {% else %}
    <div class="alert alert-dark" role="alert">
      <p class="lead"><strong>Sorry, no products matched your search query</strong></p>
    </div>
  {% endif %}
{% endif %}

<div class="product-buttons mx-auto mb-4">
  <a href="{% url 'add_product' %}" class="btn btn-secondary">
    Add Product <i class="fas fa-pencil-alt"></i>
  </a>
  <button class="btn btn-secondary " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    <select id="sort-selector">
      <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort products by...</option>
      <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
      <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)
      </option>
      <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
      <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
      <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
      <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)
      </option>
    </select>
  </button>
</div>

<h3 class="mt-10">Browse by category</h3>
  <div class="category-list">
    {% for category in categories %}
      <a class="btn btn-info rounded-5">{{ category.friendly_name }}</a>
    {% endfor %}
  </div>

<div class="row">
  {% for product in products %}
  <div class="col-12 col-md-4 col-lg-3">
    <div class="card-details">
      <div class="card-image mb-2">
      {% if product.image_url %}
        <a href="{% url 'product_detail' product.id %}">
          <img src="{{ product.image_url }}" class="card-img-top" alt="product-image">
        </a>
        {% else %}
        <a href="{% url 'product_detail' product.id %}">
          <img class="card-img-top"
            src="{{ MEDIA_URL }}revolt-xGAG-yRP2PQ-unsplash.jpg" alt="Default product image">
          </a>
        {% endif %}
      </div>
      <h5>{{ product.name }}</h5>
      <p>
        <a href="{% url 'products' %}?category={{ product.category.name }}">{{ product.category.friendly_name }}</a>
      </p>
      <p class="lead">€{{ product.price }}</p>
      <div class="card-buttons">
        {% if request.user.is_superuser %}
          <a href="{% url 'delete_product' product.id %}"  class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
          </a>
          <a href="{% url 'edit_product' product.id %}" class="btn btn-info">
            <i class="fa-solid fa-marker"></i>
          </a>
        {% endif %}
        <div class="row">
          <div class="col-12 col-md-6">
            <a href="{% url 'add_review' product.id %}" class="mt-1 btn btn-light">
              Review
            </a>
          </div>
          <div class="col-12 col-md-6">
            <a href="{% url 'product_reviews' product.id %}" class="mt-1 btn btn-warning">
              Ratings
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  $('#sort-selector').change(function () {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if (selectedVal != "reset") {
      var sort = selectedVal.split("_")[0];
      var direction = selectedVal.split("_")[1];

      currentUrl.searchParams.set("sort", sort);
      currentUrl.searchParams.set("direction", direction);

      window.location.replace(currentUrl);
    } else {
      currentUrl.searchParams.delete("sort");
      currentUrl.searchParams.delete("direction");

      window.location.replace(currentUrl);
    }
  })
</script>
{% endblock %}

{% block postloadsjs %}
{{ block.super }}
{% include 'products/inclues/qty_input_script.html' %}
{% endblock %}