{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js" integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block content %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort Products by:
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Price</a></li>
      <li><a class="dropdown-item" href="#">Rating</a></li>
      <li><a class="dropdown-item" href="#">Category</a></li>
    </ul>
  </div>
<div class="row">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4">
            <div class="card-details">
                <h5>{{ product.name }}</h5>
                {% if product.image_url %}
                <a href="{% url 'product_detail' product.id %}"><img src="{{ product.image_url }}" alt="product-image"></a>
                {% endif %}
                <p>{{ product.date }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}